<a href="https://colab.research.google.com/github/ksj3421/CS598-project/blob/main/MIMIC_III_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Imports for accessing Datathon data using Google BigQuery.
import os
from google.colab import auth
from google.cloud import bigquery

# Import libraries
import numpy as np
import os
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as patches
import matplotlib.path as path
import tensorflow as tf

# Below imports are used to print out pretty pandas dataframes
from IPython.display import display, HTML

In [ ]:
auth.authenticate_user()

In [ ]:
client = bigquery.Client(project='physionet-data')
datasets = client.list_datasets()
for dataset in datasets:
  did = dataset.dataset_id
  print('Dataset "%s" has the following tables:' % did) 
  for table in client.list_tables(client.dataset(did)):
    print('    ' + table.table_id)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#@title Setting default project ID (you may need to create your own) {display-mode:"both"}
project_id='mimic-iii-346205' # @param
os.environ["GOOGLE_CLOUD_PROJECT"]=project_id

In [ ]:
def run_query(query):
  return pd.io.gbq.read_gbq(query, project_id=project_id, configuration={'query':{'useLegacySql': False}})

In [ ]:
run_query('''
SELECT
  subject_id,
  hadm_id,
  icustay_id
FROM
  `physionet-data.mimiciii_clinical.icustays`
LIMIT 10
''')

   subject_id  hadm_id  icustay_id
0         275   129886      219649
1         291   113649      256641
2         291   125726      275109
3         294   152578      222074
4         301   160332      288401
5         304   177469      295659
6         305   133059      232719
7         309   162308      211035
8         333   160548      243350
9         346   186516      258237